:root {
    --color-dark: #2E4353;
    --color-light: #ffffff;

    --font-primary: "JetBrains Mono"
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;

    display: flex;
    margin: 0;

    font-family: var(--font-primary);
    font-size: 12px;
}

a {
    all: unset;
}

.side {
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;

    background-color: var(--color-dark);

    color: var(--color-light);

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        text-align: center;

        .headshot {
            width: 100px;

            border-radius: 5px;
        }

        .intro {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .name {
                font-weight: bold;
                font-size: 28px;
            }

            .title {
                font-style: italic;
            }
        }
    }

    .links {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 15px;

        .link {
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 10px;

            .icon {
                width: 15px;
                height: 15px;
            }

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.projects {
    flex: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;

    color: var(--color-dark);

    .back {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 12px;

        transition: all 0.2s ease;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .arrow {
            width: 25px;
        }
    }

    .heading {
        font-weight: bold;
        font-size: 28px;
    }

    .filters {
        display: flex;
        flex-direction: row;
        gap: 15px;

        font-size: 12px;

        .filter {
            padding: 10px 15px;

            border-radius: 5px;
            border: 1px solid var(--color-dark);

            transition: all 0.2s ease;

            &.active {
                background-color: var(--color-dark);
                color: var(--color-light);
            }

            &:hover {
                cursor: pointer;
                
                background-color: var(--color-dark);
                color: var(--color-light);
            }
        }
    }

    .cards {
        flex: 1;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
        row-gap: 25px;

        .card {
            height: 350px;
            overflow: hidden;

            display: flex;
            flex-direction: column;

            border-radius: 10px;
            border: 1px solid var(--color-dark);

            transition: all 0.2s ease;

            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }

            .thumbnail {
                flex: 1;

                width: 100%;
            }

            .lower {
                flex: 1;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px;

                background-color: var(--color-dark);

                color: var(--color-light);

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }

                .name {
                    font-weight: bold;
                    font-size: 18px;
                }

                .card-tags {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;

                    font-size: 12px;

                    .tag {
                        padding: 10px 15px;

                        border-radius: 5px;
                        border: 1px solid var(--color-light);
                    }
                }
            }
        }
    }

    .project {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;

        .about-project {
            display: flex;
            flex-direction: column;
            gap: 10px;

            font-size: 12px;

            .assignment {
                font-weight: bold;
                font-style: italic;
            }
        }

        .code-links {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .link {
                flex: 1;

                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;
                gap: 10px;

                white-space: nowrap;

                border-radius: 5px;
                border: 1px solid var(--color-dark);

                .icon {
                    width: 15px;
                    height: 15px;
                }

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .iframe {
        border-radius: 5px;
        border: 1px solid var(--color-dark);
    }

    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;

        .image {
            width: 100%;
            
            border-radius: 5px;
        }
    }

    .project-tags {
        display: flex;
        flex-direction: row;
        gap: 15px;

        font-size: 12px;

        .tag {
            padding: 10px 15px;

            border-radius: 5px;
            border: 1px solid var(--color-dark);
        }
    }
}

